.side_bar.toggle
    .logo abdel krim
    ul.linkMenu.list-unstyled
        li: a(href="#") first link
        li: a(href="#") second link
        li: a(href="#") third link
        li
            a.slideLinks(href="#") 
                |fourth link
                i.fas.fa-angle-right.fa-lg
            ul.subMenu.list-unstyled
                li: a(href="#") first sublink
                li: a(href="#") second sublink
                li: a(href="#") third sublink
                li: a(href="#") fourth sublink
        li: a(href="#") fifth link
        li
            a.slideLinks(href="#") 
                |sixth link
                i.fas.fa-angle-right.fa-lg
            ul.subMenu.list-unstyled
                li: a(href="#") first sublink
                li: a(href="#") second sublink
